@model Lab21.Models.Registration

@{
    ViewBag.Title = "View";
}

<h2>Model Properties:</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coffeeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotOrCold)
        </th>
        <th></th>
    </tr>


</table>
