
@{
    ViewBag.Title = "SubmissionView";
}

<h2>Here is your info:</h2>
<p>Welcome @ViewBag.name!</p>
<p>Email: @ViewBag.email</p>
<p>Password: <abbr title="@ViewBag.password">ah ah ahhh</abbr></p>
<p>Your like your @ViewBag.coffeeType roast coffee @ViewBag.hotOrCold</p>
@Html.ActionLink("See Properties", "Properties", "Home")